<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.marondal.choongmotour.lodging.dao.LodgingDAO">
  	
  	
  	
  	
  	
  <!-- 관리자 페이지 숙소 추가, 숙소리스트 조회, 객실 추가, 숙소 수정, 숙소 삭제 -->	
  <insert id="insertLodging" parameterType="map">
 	INSERT INTO 
 			`lodging`
 	(
		`adminId`
 		, `roomName`
 		, `level`
 		, `areaName`
 		, `imagePath`
 		, `createdAt`
  		, `updatedAt`
 	)
 	VALUES
 	(
		#{adminId} <!-- #{}추가 안됬었음 이래서 자꾸 테이블에 0이 저장된게 아니였나 싶음 그리고 adminId 굳이 넣어야 하는지 의문 아예 디비 테이블 날리고 설계부터 다시해보는것도 좋은생각 -->
 		, #{roomName}
 		, #{level}
 		, #{areaName}
 		, #{imagePath}
 		, now()
 		, now()
 	);
 	
 
 </insert>
 
 <select id="selectLodgingList" resultType="com.marondal.choongmotour.lodging.model.Lodging" parameterType="int">
 	SELECT
 		`id`
 		, `adminId`
 		, `roomName`
 		, `imagePath`
 		, `level`
 		, `areaName`
 		, `createdAt`	
 		, `updatedAt`
 	FROM
 		`lodging`
	ORDER BY
  		`id` DESC;
 </select>
 
 <select id="selectLodgingById" parameterType="int" resultType="com.marondal.choongmotour.lodging.model.Lodging">
 
 	SELECT 
 		`id`
 		, `adminId`
 		, `roomName`
 		, `imagePath`
 		, `level`
 		, `areaName`
 		, `createdAt`	
 		, `updatedAt`
 	FROM
 		`lodging`
 	WHERE
 		`id` = #{id};
 
 </select>
 
 <!-- 숙소 수정 -->
 <update id="updateLodging" parameterType="map">
 	UPDATE 
 		`lodging`
 	SET 
 		 `roomName` = #{roomName}
 		, `level` = #{level}<!-- #{}이값은 역시나 다오에서 불러온값들 -->
 		, `areaName` = #{areaName}
  		, `updatedAt` = now()
 	WHERE	
 		`id` = #{id};<!-- 500에러가 뜬다.  Parameter 'id' not found. Available parameters are [level, areaName, param3, roomName, param1, param2] 이고 mybatis 어쩌구도 뜬다. 즉 마이바티스 기반인 다오, 매퍼 쪽에 문제 이다.-->
 </update>			 <!-- 매퍼에서 id를 쓸려면 다오에서도 id 파라미터가 있어야한다. -->
 
 <!-- 객실추가 -->
 <insert id="insertRoom" parameterType="map">
 	INSERT INTO 
 			`room`
	(
	 	<!-- lodgingId 앞에 실수로 ,붙임 -->
	 	 <!-- id 뺄것. primarykey라서 자동 저장됨 현재 현상이 id 키값에 lodgingId값이 저장되는 현상.-->
 		 `adminId`<!-- Parameter index out of range (1 > number of parameters, which is 0). 이문제는 `문제 아까 `하나가 떡하니 있었다. -->
 		, `lodgingId`
 		, `imagePath`
 		, `price`
 		, `size`
 		, `content`
 		, `createdAt`	
 		, `updatedAt`
	)
	VALUES
	(

		 #{adminId}
		, #{lodgingId}
		, #{imagePath}
		, #{price}
		, #{size}
		, #{content}
		, now()
		, now()
	 	
	);
	 			
 
 </insert>
 
 <!-- 객실 리스트 조회 -->
 
 <select id ="selectRoomList" parameterType="int" resultType="com.marondal.choongmotour.lodging.model.Room">
 	SELECT
 		`id`
 		, `adminId`
 		, `lodgingId`
 		, `imagePath`
 		, `price`
 		, `size`
 		, `content`
 		, `createdAt`	
 		, `updatedAt`
 	
 	FROM
 		`room`
 	WHERE
 		`lodgingId` = #{lodgingId};
	<!-- orderby 넣는거는 사용자 영역에서만 -->
 	
 
 </select>
 
 <!-- 객실 1행 조회 -->
 
 <select id ="selectRoomById" parameterType="int" resultType="com.marondal.choongmotour.lodging.model.Room">
 	SELECT
 		`id`
 		, `adminId`
 		, `lodgingId`
 		, `imagePath`
 		, `price`
 		, `size`
 		, `content`
 		, `createdAt`	
 		, `updatedAt`
 	FROM
 		`room`
 	WHERE
 		`lodgingId` = #{lodgingId};
 </select>
 
 <!-- 객실 수정 -->
 <update id="updateRoom" parameterType="map">
	 UPDATE
	 	`room`
	 SET
	 	`price` = #{price}
	 	,`size` = #{size}
	 	,`content`= #{content}
	 	, `updatedAt` = now()
 	WHERE 
 		`id` = #{id};
 		<!-- 그냥 사이즈 빼자 너무 복잡하다. 헐.. 설마 `하나땜에 500뜬건가?-->
 </update>
 
 <!-- 숙소 삭제 -->
 <delete id="deleteLodging" parameterType="int">
 	DELETE
 	FROM `lodging`
 	WHERE `id`=#{id}
 </delete>
  
  </mapper>