<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.marondal.choongmotour.lodging.dao.LodgingDAO">
  	
  	
  	
  	
  	
  <!-- 관리자 페이지 숙소 추가, 숙소리스트 조회, 객실 추가, 숙소 수정, 숙소 삭제 -->	
  <insert id="insertLodging" parameterType="map">
 	INSERT INTO 
 			`lodging`
 	(
 		  `adminId`	
 		, `roomName`
 		, `level`
 		, `areaName`
 		, `imagePath`
 		, `createdAt`
  		, `updatedAt`
 	)
 	VALUES
 	(
 	 	 #{adminId}
 		,#{roomName}
 		, #{level}
 		, #{areaName}
 		, #{imagePath}
 		, now()
 		, now()
 	)
 	
 
 </insert>
 
 <select id="selectLodgingList" resultType="com.marondal.choongmotour.lodging.model.Lodging"  parameterType="int">
 	SELECT
 		`id`
 		, `adminId`
 		, `roomName`
 		, `imagePath`
 		, `level`
 		, `areaName`
 		, `createdAt`	
 		, `updatedAt`
 	FROM
 		`lodging`
	ORDER BY
  		`id` DESC;
 </select>
 
 <insert id="insertRoom" parameterType="map">
 	INSERT INTO 
 			`room`
	(
	 	, `lodgingId`
	 	, `price`
	 	, `size`
	 	, `content`
	 	, `imagePath`
	 	, `createdAt`	
 		, `updatedAt`
	)
	VALUES
	(
		#{lodgingId}
		, #{imagePath}
		, #{price}
		, #{size}
		, #{content}
		, now()
		, now()
	 	
	)
	 			
 
 </insert>
 
 
  
  </mapper>