<?xml version="1.0" encoding="UTF-8"?>
 
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


 <mapper namespace="com.marondal.choongmotour.lodging.reserve.dao.ReserveDAO">
 

 <!-- 날짜 선택 -->
 <insert id = "insertDate" parameterType="map">
 INSERT INTO
 	`reserved_list`
 (
 	`roomId`
 	,`startDate`
  	,`endDate`
 	, `createdAt`
  	, `updatedAt`
 
 )
 	VALUES
 
 (
 	#{roomId}
 	,#{startDate}
  	,#{endDate}
    , now()
  	, now()
 
 );
 </insert>
 
 <!-- 예약하기 -->
 
  	<insert id = "insertReserve" parameterType="map">
  	INSERT INTO
  			`reserved_list`
  	(
  		
  		 `roomId`
  		, `payment`
  		, `startDate` <!-- 여기서 왜 payment가 없는가??? 이래서 예약이 안되는건 아닌지??? -->
  		, `endDate`
  		, `createdAt`
  		, `updatedAt`
  	) 
  		VALUES
  	(
  		
  		#{roomId}
  		, #{payment}
  		, #{startDate}
  		, #{endDate}
  		, now()
  		, now()
  	
  	);
  			
  	
  	</insert>
  	
  
  <!-- 예약 목록 -->	
  <!-- 이제보니 이것도 안해놔서 때로는 오류가 뜬다. -->
  <select id ="selectReserveList" resultType="com.marondal.choongmotour.lodging.reserve.dao.ReserveDAO" parameterType="int">
  	SELECT
  		`id`
  		, `userId`
  		, `roomId`
  		, `payment`
  		, `startDate`
  		, `endDate`
  	FROM
  		`reserved_list`
  	WHERE
  		`roomId`= #{roomId};
  </select>
  
  <!-- 예약정보 한행 조회 -->
  <select id = "selectgetReserveInfoById" resultType="com.marondal.choongmotour.lodging.reserve.dao.ReserveDAO" parameterType="int">
   SELECT
   		`id`
  		, `userId`
  		, `roomId`
  		, `payment`
  		, `startDate`
  		, `endDate`
   FROM
   		`reserved_list`
   WHERE
   	`roomId` = #{roomId}
     AND `userId` = #{userId};
  </select>
  
  <!-- 예약 취소 -->
  <delete id = "deleteReserve" parameterType="int">
  DELETE
  FROM	`reserved_list`
  WHERE `roomId` = #{roomId}
  		AND `userId` = #{userId};
  
  
  </delete>
 
 
 
 
 
 
 
 </mapper>
