<?xml version="1.0" encoding="UTF-8"?>
 
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.marondal.choongmotour.lodging.reserve.dao.ReserveDAO">

	<!-- 예약하기 -->
  <insert id = "insertReserve" parameterType="map">
	-- reserveMapper.insertReserve
	INSERT INTO
		`reserved_list`
	(
		 `roomId`
		, `userId`
		, `name`
		, `phoneNumber`
		, `payment`
		, `startDate` <!-- 여기서 왜 payment가 없는가??? 이래서 예약이 안되는건 아닌지??? -->
		, `endDate`
		, `createdAt`
		, `updatedAt`
	)
		VALUES
	(
		#{roomId}
		, #{userId}
		, #{name}
		, #{phoneNumber}
		, #{payment}
		, #{startDate}
		, #{endDate}
		, now()
		, now()
	);
  </insert>
  
  <!-- 예약 목록 -->	
  <!-- 이제보니 이것도 안해놔서 때로는 오류가 뜬다. -->
  <select id ="selectReserveList" resultType="com.marondal.choongmotour.lodging.model.Reserve" parameterType="int">
	-- reserveMapper.selectReserveList
	SELECT
  		`id`
  		, `userId`
  		, `roomId`
  		, `payment`
  		, `startDate`
  		, `endDate` <!-- 여기가 문제다 왜안나올까? -->
  	FROM
  		`reserved_list`
  	WHERE
  		`userId` = #{userId}
  	ORDER BY `id` DESC;
  		<!-- 이제보니 유저아이디도 넣어야한다. 그리고 정렬순서도 넣어야할듯 -->
  </select>  
  
   <!-- 예약정보 한행 조회 -->										<!-- 애초에 이것도 왜 리설트 타입이렇게 했는지 모르겠다 다오가 아니라 모델아닌가?-->
  <select id = "selectReserveInfoById" resultType="com.marondal.choongmotour.lodging.model.ReserveDetail" parameterType="map">
	-- reserveMapper.selectReserveInfoById
	SELECT
   		`id`
  		, `userId`
  		, `roomId`
  		, `payment`
  		, `startDate`
  		, `endDate`
    FROM
   		`reserved_list`
    WHERE
	 `userId` = #{userId};
  </select>
  
  <!-- 예약 취소 -->
  <delete id = "deleteReserve" parameterType="int">
	 -- reserveMapper.deleteReserve
	 DELETE
	 FROM
	  `reserved_list`
	 WHERE
	  `id` = #{id};
  </delete>
 </mapper>
