<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.marondal.choongmotour.user.dao.UserDAO">
  
  <insert id ="insertUser" parameterType="map">
	  INSERT INTO 
	  		`user`
		  	(
		  		`loginId`
		  		,`password` 
		  		, `name`
		    	, `email` 
		    	, `phoneNumber` 
		    	, `nickname` 
		    	, `imagePath` 
		    	, `createdAt` 
		    	, `updatedAt` 
		  	)
	  VALUE
		  (
		  	#{loginId}
		  	, #{password}
		  	, #{name}
		  	, #{email}
		  	, #{phoneNumber}
		  	, #{nickname}
		  	, #{imagePath}
		  	, now()
		  	, now()
		  	
		  )
  
  
  
  </insert>
  
  
  </mapper>