<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.marondal.choongmotour.user.dao.UserDAO">
  
  <insert id ="insertUser" parameterType="map">
	  INSERT INTO 
	  		`user`
		  	(
		  		`loginId`
		  		,`password` 
		  		, `name`
		    	, `email` 
		    	, `nickname` <!--Field 'phoneNumber' doesn't have a default value 라는 오류 디비엔 폰넘버가 있지만 회원가입 때는 폰넘버가 필요없다. 폰넘버를 안넣고 싶은경우가 있을것. 디비및 설계문서를 null로 바꿀것.  -->
		    	, `createdAt` 
		    	, `updatedAt` 
		  	)
	  VALUES
		  (
		  	#{loginId}
		  	, #{password}
		  	, #{name}
		  	, #{email}
		  	, #{nickname}
		  	, now()
		  	, now()
		  	
		  )
  
  
  
  </insert>
  
  <select id = "selectCountloginId" resultType="int" parameterType="String">
  	SELECT 
  		count(1)
  	FROM
  		`user`
  	WHERE
  		`loginId` = #{loginId};
  	
  </select>
  
  <select id="selectUser" resultType="com.marondal.choongmotour.user.model.User" parameterType="map">
  	
  	SELECT
  		 `id`	
  		 , `loginId`<!-- id컬럼 추가를 안시켜서 자꾸 id값이 0이라고 들어가는거였다. -->
		 , `password` 
		 , `name`
		 , `email` 
		 , `nickname`
		 , `imagePath`
		 , `createdAt` 
		 , `updatedAt` 
  	FROM
  		`user`
  	WHERE
  		`loginId` = #{loginId}
  		AND `password` = #{password};
  </select>
  
  <select id ="selectUserByNameEmail" resultType="String" parameterType="map">
  	SELECT
  		`name`
  		,`email`<!-- 실수로 ` 하나 빼먹는 실수로 500뜸 --> 
  	FROM
  		`user`
  	WHERE 
  		`name` = #{name}
  		AND 
  		`email` = #{email};
  </select>


  <!-- 가만 생각해보니 임시 비밀번호 발급 api도 필요할듯? -->
  <update id = "updatePassword" parameterType="map">
  	UPDATE
  		`user`
  	SET
  		`password` = #{password}<!-- 그리고 비밀번호도 암호화되야하기에 이렇게 하는것도 적합하지 않다고 함 -->
  	WHERE
  		`loginId` = #{loginId}
  		AND `email` = #{email};
  </update>
  <!-- 여기선 id가아닌 loginId 아닐까 싶음 -->
  
  <!-- 회원 정보 조회 -->
  <select id="selectUserInfo" resultType="com.marondal.choongmotour.user.model.User" parameterType="map">
	SELECT
		 `id` <!-- 여기도 당연히 추가해보기 -->
  		 ,`password`
  		 , `name`
		 , `email` 
		 , `phoneNumber`
		 , `nickname`
		 , `imagePath`
		 , `createdAt` 
		 , `updatedAt` 
	FROM
		`user`
	WHERE
		`id` = #{id};
 </select>
  
  <!-- 수정 -->
  <update id ="updateUser" parameterType="map">
  	UPDATE
  		`user`
  	SET
  		`password` =#{password}
  		,`name` =#{name}
  		,`email` =#{email}
  		,`phoneNumber` = #{phoneNumber}
  		,`nickname` =#{nickname}
  		,`imagePath` =#{imagePath}
  		, `updatedAt` = now()
  	WHERE
  		`id` = #{id};
  </update>
  
  </mapper>