@charset "UTF-8";

#wrap{
	width:1200px;
	
	margin:auto;
}

header{
	
	height:70px;
	
	background-color:#1E90FF;

}

.contents{
	
	
}

.contents > .join-box{
	
	width:450px;
}

.contents > .login-box{
	
	width:450px;
}

.contents > .find-id-pw-page{
	
	width:600px;
}

.contents> .main-page{
	width:1200px;
}
.contents> .adminmain-page{
	width:1200px;
}

.contents> .lodgingcreate-page{
	width:600px;
}


.contents> .lodgingupdate-page{
	width:600px;
}

.contents> .roomcreate-page{
	width:600px;
}

.contents> .roomupdate-page{
	width:1000px;
}

.contents> .lodging-list{
	width:1000px;
}


.contents> .room-page{
	width:1000px;
}



.contents> .my-page{
	width:1200px;
}
.contents> .dibs-page{
	width:1200px;
}

.contents> .reservelist-page{
	width:1200px;
}





.box-list > .box{
	
	width: 200px;
    height: 200px; 
    border-radius: 70%;
    overflow: hidden;
}

 .box > .profile{
	width: 100%;
    height: 100%;
    object-fit: cover;
}



.card-list > .card{
	width: 400px;
    height: 600px; 
	
}

.card-list > .card-body{
	width: 400px;
    height: 200px; 
	
}

.card > .profile{
	width: 400px;
    height: 400px;
    object-fit: cover;
	margin : auto;
 
}

.info-input-box{
	width:500px;
	
}


.dibs-card-list >.dibs-card{
	width: 350px;
    height: 400px; 
}

.dibs-card >.dibs-profile{
	width: 350;
    height: 200px;
    object-fit: cover;
	margin : auto;
}

.dibs-card-list >.dibs-card-body{
	width: 350px;
    height: 200px; 
}

.reservation-card-list >.reservation-card{
	width: 350px;
    height: 400px; 
}

.reservation-card >.reservation-profile{
	width: 350;
    height: 200px;
    object-fit: cover;
	margin : auto;
}

.reservation-card-list >.reservation-card-body{
	width: 350px;
    height: 200px; 
}



.userprofile{

	 border-radius: 70%;
	 overflow: hidden;
}

.adminprofile{
	 border-radius: 70%;
	 overflow: hidden;
}


footer{
	
	height:70px;
	
	background-color: #1E90FF;
	
}