@charset "UTF-8";

#wrap{
	width:1200px;
	
	margin:auto;
}

header{
	
	height:90px;
	
	background-color:#20B2AA;
	font-family: 'Nanum Gothic', sans-serif;

}

.contents{
	
	
}

.contents > .join-box{
	
	width:350px;
	
}

.contents > .login-box{
	
	width:350px;
	
}

.contents > .find-id-pw-page{
	
	width:350px;
	
}

.btn-group:hover .dropdown-menu{
	display: inline-block;
	

}


.contents> .main-page{
	width:1200px;
}
.contents> .adminmain-page{
	width:1200px;
}

.contents> .lodgingcreate-page{
	width:500px;

}


.lodgingcreate-page > .lodgingcreate-page-contents{
	border: 1px solid;
	box-shadow: 3px 3px 5px 0px black;
	border-radius: 8px;
	
}

.contents> .lodgingupdate-page{
	width:500px;
	
}

.lodgingupdate-page > .lodgingupdate-page-contents{
	border: 1px solid;
	box-shadow: 3px 3px 5px 0px black;
	border-radius: 8px;
	
}


.contents> .roomcreate-page{
	width:500px;
	
}

.roomcreate-page >.roomcreate-page-contents{
	border: 1px solid;
	box-shadow: 3px 3px 5px 0px black;
	border-radius: 8px;
	
}


.contents> .roomupdate-page{
	width:1000px;
	
}

.roomupdate-page > .roomupdate-page-contents{
	border: 1px solid;
	box-shadow: 3px 3px 5px 0px black;
	border-radius: 8px;
	
}


.contents> .lodging-list{
	width:1000px;
}


.contents> .room-page{
	width:1000px;
}

.side-nav{
	background-color: #202B46;
	border-radius: 8px;
	
}

.nav-list{
	color: #646477;
	font-size:23px;
}

.contents> .my-page{
	width:1100px;
}
.contents> .dibs-page{
	width:1100px;
}

.contents> .reservelist-page{
	width:1100px;
}



.box-list > .box{
	
	width: 260px;
    height: 280px; 
    
    overflow: hidden;
}

.box > .inner-box{
	width: 260px;
	height: 260px; 
	
}


.inner-box >.box-profile{
	width: 230px;
	height: 230px;
	
}


 .box-profile > .profile{
	width: 230px;
    height: 230px;
    border-radius: 70%;
    object-fit: cover;  
}



 .box-profile > .profile:hover{

	transform:scale(1.03, 1.03);
	
 }

.box> .box-body{
	width:270px;
	height:20px;
}
/*
.box> .box-body:hover{
	width:235px;
	height:20px;
}
*/

.card-list > .card{
	width: 400px;
    height: 550px; 
    border: 1px solid;
	box-shadow: 3px 3px 5px 0px black;
	border-radius: 8px;
	
}
.card >.card-profile > .profile{
	width:100%;
    height: 400px;
    border-radius: 8px;
    object-fit: cover;
	margin : auto;
 
}

.card-list > .card > .card-text{
	padding: 5px 10px;
	position: absolute;
	
	transform: translate( 0%, 380% );
	
}


.card-list > .card > .card-body{
	width: 400px;
    height: 150px; 
	
}



.info-input-box{
	width:800px;
	border: 1px solid;
	box-shadow: 3px 3px 5px 0px black;
	border-radius: 8px;
}



.lodging-card-list>.lodging-card{
	/*height:450px;*/
	border: 1px solid;
	box-shadow: 3px 3px 5px 0px black;
	border-radius: 8px;
	
}


 .heart{
 
 	position:relative; /*위에있는 로징카드 리스트가 아닌 하트아이콘 감싸는 태그에 적용 하기*/
 }



.lodging-profile{
	
	
    height: 350px;
}



.lodging-profile> .profile{
	width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
   	
}
/*여기 뜯어고치기 숙소카드 글씨를 감싸는 태그*/
.lodging-card-textbox{

	
	/*padding:  10px;*/
	padding: 5px 10px;
	position: absolute;
	
	transform: translate( -0%, -100% );
	
	
}





.room-page{
	width:1000px;
}

.lodging-profile2 {
	width:500px;
	height:400px;
}
.lodging-profile2 >.profile{
	width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    
}

.room-page>.room-card-list{
	
	width:1000px;
	margin:auto;
}


.room-card-list >.room-card{
	
	
	height:200px;
	border: 1px solid;
	border-radius: 8px;
    box-shadow: 3px 3px 5px 0px black;
}

.room-card>.room-profile{
	width:250px;
	height:170px;
}
.room-profile > .profile {
	width:100%;
	height:100%;
	object-fit: cover;
	border-radius: 8px;
}

.room-card>.room-card-body{
	width:650px;
}


.modal{

}



.modalcontent{
	
}



.dibs-card-list >.dibs-card{
	width: 350px;
    height: 420px; 
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 3px 3px 5px 0px black;
	
}

.dibspage-heart{
 
 	position:relative; /*위에있는 로징카드 리스트가 아닌 하트아이콘 감싸는 태그에 적용 하기*/
 }
 
.dibs-card> .dibs-profile{
	width: 350px;
	height:270px;
	
	
}

.dibs-profile >.profile{
	width:100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
	/*사진밑으로*/
}


.dibs-card-list >.dibs-card-body{
	width: 350px;
    height: 200px; 
    
}

.dib-icon {
	right:-2px;
	position: absolute;/*아이콘 위로*/
}
.undib-icon {
	right:-2px;
	position: absolute;
}


.reserve-page{
	
	width:600px;
}

.reservepagecontents{
	
	border: 1px solid;
	box-shadow: 3px 3px 5px 0px black;
	border-radius: 8px;
}


.reservation-card-list{
	
	position: relative;
}

.reservation-card-list >.reservation-card{
	width: 350px;
    height: 420px; /*450px->420px*/
    border: 1px solid;
    box-shadow: 3px 3px 5px 0px black;
	border-radius: 8px;

}
.reservation-card>.reservation-profile{
	width: 350px;
	height:270px;
}

.reservation-profile >.profile{
	width:100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    /*사진밑으로*/
}
.reservation-card-list > .reservation-card-body{
	width: 350px;
    height: 200px; 
}

.x{
	position: relative;
}

.x-btn{
	right:-2px;
	position: absolute;
	
}

.commentwrite-page{
	width:500px;
}


.commentwritepagecontents{
	border: 1px solid;
	box-shadow: 3px 3px 5px 0px black;
	border-radius: 8px;
	
}

.comment-page{
	width:1000px;
}

.comment-page>.comment-list{
	
	width:1000px;
	margin:auto;
}

.comment-list>.comment-box{
	
	width: 970px;
	margin:auto;
	border: 1px solid;
    border-radius: 8px;
    box-shadow: 3px 3px 5px 0px black;
	
}

.comment-delete{
	position: relative;
}

.delete-btn{
	right:-2px;
	position: absolute;
}



.userprofile{

	 border-radius: 70%;
     object-fit: cover;
}

.adminprofile{
	 border-radius: 70%;
	 object-fit: cover;
}


footer{
	
	height:90px;
	
	background-color: #20B2AA;
	
}