@charset "UTF-8";

#wrap{
	width:1200px;
	
	margin:auto;
}

header{
	
	height:70px;
	
	background-color:#1E90FF;

}

.contents{
	
	height:500px;
}

.contents > .join-box{
	
	width:450px;
}

.contents > .login-box{
	
	width:450px;
}

.contents> .main-page{
	width:1200px;
}

footer{
	
	height:70px;
	
	background-color: #1E90FF;
	
}